USE [master]
GO

IF EXISTS
(
	SELECT name
	FROM sysdatabases
	WHERE name='MarketPERU'
)
DROP DATABASE [MarketPERU]
GO

CREATE DATABASE [MarketPERU]
 ON  PRIMARY 
(
	NAME = N'MarketPERU_dat',
	FILENAME = N'C:\db\MarketPERU_dat.mdf',
	SIZE = 30MB,
	MAXSIZE = 50MB,
	FILEGROWTH = 10MB
)
LOG ON 
(
	NAME = N'MarketPERU_log',
	FILENAME = N'C:\db\MarketPERU_log.ldf',
	SIZE = 10MB,
	MAXSIZE = UNLIMITED,
	FILEGROWTH = 10%
)
GO
USE [MarketPERU]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 21/03/2020 11:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [varchar](20) NOT NULL,
	[Descripcion] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)
)
GO
/****** Object:  Table [dbo].[GUIA]    Script Date: 21/03/2020 11:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GUIA](
	[IdGuia] [int] NOT NULL,
	[IdLocal] [int] NOT NULL,
	[FechaSalida] [datetime] NOT NULL,
	[Transportista] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGuia] ASC
)
)
GO
/****** Object:  Table [dbo].[GUIA_DETALLE]    Script Date: 21/03/2020 11:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GUIA_DETALLE](
	[IdGuia] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[PrecioVenta] [money] NOT NULL,
	[Cantidad] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGuia] ASC,
	[IdProducto] ASC
)
)
GO
/****** Object:  Table [dbo].[LOCAL]    Script Date: 21/03/2020 11:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCAL](
	[IdLocal] [int] NOT NULL,
	[Direccion] [varchar](60) NULL,
	[Distrito] [varchar](20) NULL,
	[Telefono] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLocal] ASC
)
)
GO
/****** Object:  Table [dbo].[ORDEN]    Script Date: 21/03/2020 11:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN](
	[IdOrden] [int] NOT NULL,
	[FechaOrden] [datetime] NOT NULL,
	[FechaEntrada] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrden] ASC
)
)
GO
/****** Object:  Table [dbo].[ORDEN_DETALLE]    Script Date: 21/03/2020 11:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_DETALLE](
	[IdOrden] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[PrecioCompra] [money] NOT NULL,
	[CantidadSolicitada] [smallint] NOT NULL,
	[CantidadRecibida] [smallint] NULL,
	[Estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrden] ASC,
	[IdProducto] ASC
)
)
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 21/03/2020 11:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[UnidadMedida] [varchar](30) NULL,
	[PrecioProveedor] [money] NULL,
	[StockActual] [smallint] NULL,
	[StockMinimo] [smallint] NULL,
	[Descontinuado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)
)
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 21/03/2020 11:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[Representante] [varchar](30) NULL,
	[Direccion] [varchar](60) NULL,
	[Ciudad] [varchar](15) NULL,
	[Departamento] [varchar](15) NULL,
	[CodigoPostal] [varchar](15) NULL,
	[Telefono] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)
)
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([IdCategoria], [Categoria], [Descripcion]) VALUES (1, N'GOLOSINAS', N'GALLETAS,CHOCOLATES,CARAMELOS,TOFFES')
INSERT [dbo].[CATEGORIA] ([IdCategoria], [Categoria], [Descripcion]) VALUES (2, N'EMBUTIDOS', N'JAMONADAS,JAMONES,SALCHICHAS,CHORIZOS')
INSERT [dbo].[CATEGORIA] ([IdCategoria], [Categoria], [Descripcion]) VALUES (3, N'HIGIENE PERSONAL', N'JABONES,P.DENTALES,SHAMPOOS,P.H.')
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
INSERT [dbo].[GUIA] ([IdGuia], [IdLocal], [FechaSalida], [Transportista]) VALUES (1, 1, CAST(N'2020-03-10T22:30:54.650' AS DateTime), N'VELASQUEZ ORTIZ, FRANCISCO')
INSERT [dbo].[GUIA] ([IdGuia], [IdLocal], [FechaSalida], [Transportista]) VALUES (2, 2, CAST(N'2020-03-10T22:30:54.920' AS DateTime), N'VELASQUEZ ORTIZ, FRANCISCO')
INSERT [dbo].[GUIA] ([IdGuia], [IdLocal], [FechaSalida], [Transportista]) VALUES (3, 3, CAST(N'2020-03-10T22:30:54.923' AS DateTime), N'VELASQUEZ ORTIZ, FRANCISCO')
GO
INSERT [dbo].[GUIA_DETALLE] ([IdGuia], [IdProducto], [PrecioVenta], [Cantidad]) VALUES (1, 1, 2.2500, 20)
INSERT [dbo].[GUIA_DETALLE] ([IdGuia], [IdProducto], [PrecioVenta], [Cantidad]) VALUES (1, 2, 1.5000, 20)
INSERT [dbo].[GUIA_DETALLE] ([IdGuia], [IdProducto], [PrecioVenta], [Cantidad]) VALUES (1, 3, 2.2500, 20)
GO
INSERT [dbo].[LOCAL] ([IdLocal], [Direccion], [Distrito], [Telefono], [Fax]) VALUES (1, N'AV. LA PAZ 659', N'MIRAFLORES', NULL, NULL)
INSERT [dbo].[LOCAL] ([IdLocal], [Direccion], [Distrito], [Telefono], [Fax]) VALUES (2, N'AV. BOLIVAR 1789', N'PUEBLO LIBRE', NULL, NULL)
INSERT [dbo].[LOCAL] ([IdLocal], [Direccion], [Distrito], [Telefono], [Fax]) VALUES (3, N'AV. SAENZ PEÑA 590', N'CALLAO', NULL, NULL)
INSERT [dbo].[ORDEN] ([IdOrden], [FechaOrden], [FechaEntrada]) VALUES (1, CAST(N'2020-03-10T22:31:01.033' AS DateTime), CAST(N'2020-03-11T22:31:01.033' AS DateTime))
INSERT [dbo].[ORDEN] ([IdOrden], [FechaOrden], [FechaEntrada]) VALUES (2, CAST(N'2020-03-10T22:31:01.103' AS DateTime), CAST(N'2020-03-11T22:31:01.103' AS DateTime))
INSERT [dbo].[ORDEN] ([IdOrden], [FechaOrden], [FechaEntrada]) VALUES (3, CAST(N'2020-03-10T22:31:01.103' AS DateTime), CAST(N'2020-03-11T22:31:01.103' AS DateTime))
INSERT [dbo].[ORDEN_DETALLE] ([IdOrden], [IdProducto], [PrecioCompra], [CantidadSolicitada], [CantidadRecibida], [Estado]) VALUES (1, 26, 12.5000, 100, 100, N'Entregado')
INSERT [dbo].[ORDEN_DETALLE] ([IdOrden], [IdProducto], [PrecioCompra], [CantidadSolicitada], [CantidadRecibida], [Estado]) VALUES (1, 32, 20.5000, 50, 50, N'Entregado')
INSERT [dbo].[ORDEN_DETALLE] ([IdOrden], [IdProducto], [PrecioCompra], [CantidadSolicitada], [CantidadRecibida], [Estado]) VALUES (1, 37, 5.5000, 250, 250, N'Entregado')
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([IdProducto], [IdCategoria], [IdProveedor], [Nombre], [UnidadMedida], [PrecioProveedor], [StockActual], [StockMinimo], [Descontinuado]) VALUES (1, 1, 14, N'CARAMELOS BASTON VIENA ARCOR', N'PAQUETE 454 GR', 1.5000, 200, 50, 0)
INSERT [dbo].[PRODUCTO] ([IdProducto], [IdCategoria], [IdProveedor], [Nombre], [UnidadMedida], [PrecioProveedor], [StockActual], [StockMinimo], [Descontinuado]) VALUES (2, 1, 15, N'CARAMELOS SURTIDO DE FRUTAS', N'PAQUETE 450 GR', 1.0000, 300, 50, 0)
INSERT [dbo].[PRODUCTO] ([IdProducto], [IdCategoria], [IdProveedor], [Nombre], [UnidadMedida], [PrecioProveedor], [StockActual], [StockMinimo], [Descontinuado]) VALUES (3, 1, 14, N'CARAMELOS FRUTAS SURTIDA ARCOR', N'PAQUETE 520 GR', 1.5000, 250, 50, 0)
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([IdProveedor], [Nombre], [Representante], [Direccion], [Ciudad], [Departamento], [CodigoPostal], [Telefono], [Fax]) VALUES (1, N'LACTEOS DEL CENTRO', N'AREVALO SANCHIZ, WALTER', N'LIBERTAD 345 URB. EL PINO', N'HUANCAYO', N'JUNIN', NULL, NULL, NULL)
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [Nombre], [Representante], [Direccion], [Ciudad], [Departamento], [CodigoPostal], [Telefono], [Fax]) VALUES (2, N'DISTRIBUIDORA ALEMANA', N'SCHULTZ SORIA, JACOBO', N'AV. SAN VICENTE 1276 ATE-VITARTE', N'LIMA', N'LIMA', NULL, NULL, NULL)
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [Nombre], [Representante], [Direccion], [Ciudad], [Departamento], [CodigoPostal], [Telefono], [Fax]) VALUES (3, N'EMBUTIDOS EL GORDITO', N'GORDILLO BARRIGA, SANCHO', N'AV. VENEZUELA 5434 BELLAVISTA', N'CALLAO', N'LIMA', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CATEGORI__08015F8B70C2F85F]    Script Date: 21/03/2020 11:57:17 ******/
ALTER TABLE [dbo].[CATEGORIA] ADD UNIQUE NONCLUSTERED 
(
	[Categoria] ASC
)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PRODUCTO__BAF17FA38563F2EA]    Script Date: 21/03/2020 11:57:17 ******/
ALTER TABLE [dbo].[PRODUCTO] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC,
	[UnidadMedida] ASC
)
GO
ALTER TABLE [dbo].[GUIA]  WITH CHECK ADD FOREIGN KEY([IdLocal])
REFERENCES [dbo].[LOCAL] ([IdLocal])
GO
ALTER TABLE [dbo].[GUIA_DETALLE]  WITH CHECK ADD FOREIGN KEY([IdGuia])
REFERENCES [dbo].[GUIA] ([IdGuia])
GO
ALTER TABLE [dbo].[GUIA_DETALLE]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[ORDEN_DETALLE]  WITH CHECK ADD FOREIGN KEY([IdOrden])
REFERENCES [dbo].[ORDEN] ([IdOrden])
GO
ALTER TABLE [dbo].[ORDEN_DETALLE]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CATEGORIA] ([IdCategoria])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDOR] ([IdProveedor])
GO
USE [master]
GO
