USE [master]
GO

IF EXISTS
(
	SELECT name
	FROM sysdatabases
	WHERE name='NorthwindSQL'
)
DROP DATABASE [NorthwindSQL]
GO

CREATE DATABASE [NorthwindSQL]
 ON  PRIMARY 
(
	NAME = N'NorthwindSQL_dat',
	FILENAME = N'C:\db\NorthwindSQL_dat.mdf',
	SIZE = 30MB,
	MAXSIZE = 50MB,
	FILEGROWTH = 10MB
)
LOG ON 
(
	NAME = N'NorthwindSQL_log',
	FILENAME = N'C:\db\NorthwindSQL_log.ldf',
	SIZE = 10MB,
	MAXSIZE = UNLIMITED,
	FILEGROWTH = 10%
)
GO
USE [NorthwindSQL]
GO
/****** Object:  Schema [Almacen]    Script Date: 21/03/2020 11:58:45 ******/
CREATE SCHEMA [Almacen]
GO
/****** Object:  Schema [Cobranzas]    Script Date: 21/03/2020 11:58:45 ******/
CREATE SCHEMA [Cobranzas]
GO
/****** Object:  Schema [Compras]    Script Date: 21/03/2020 11:58:45 ******/
CREATE SCHEMA [Compras]
GO
/****** Object:  Schema [Facturacion]    Script Date: 21/03/2020 11:58:45 ******/
CREATE SCHEMA [Facturacion]
GO
/****** Object:  Schema [Pagos]    Script Date: 21/03/2020 11:58:45 ******/
CREATE SCHEMA [Pagos]
GO
/****** Object:  Schema [Personal]    Script Date: 21/03/2020 11:58:45 ******/
CREATE SCHEMA [Personal]
GO
/****** Object:  Schema [Sistemas]    Script Date: 21/03/2020 11:58:45 ******/
CREATE SCHEMA [Sistemas]
GO
/****** Object:  Schema [Transporte]    Script Date: 21/03/2020 11:58:45 ******/
CREATE SCHEMA [Transporte]
GO
/****** Object:  Schema [Ventas]    Script Date: 21/03/2020 11:58:45 ******/
CREATE SCHEMA [Ventas]
GO
/****** Object:  UserDefinedDataType [dbo].[td_dni]    Script Date: 21/03/2020 11:58:45 ******/
CREATE TYPE [dbo].[td_dni] FROM [char](8) NULL
GO
/****** Object:  Table [Almacen].[Productos]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[Productos](
	[Id de proveedores] [nvarchar](max) NULL,
	[Id] [int] NOT NULL,
	[Código de producto] [nvarchar](25) NULL,
	[Nombre del producto] [nvarchar](50) NULL,
	[Descripción] [nvarchar](max) NULL,
	[Costo estándar] [money] NULL,
	[Precio listado] [money] NOT NULL,
	[Punto de pedido] [smallint] NULL,
	[Nivel objetivo] [int] NULL,
	[Cantidad por unidad] [nvarchar](50) NULL,
	[Suspendido] [bit] NOT NULL,
	[Cantidad mínima de reposición] [smallint] NULL,
	[Categoría] [nvarchar](50) NULL,
	[Datos adjuntos] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[Tipos de transacciones de inventario]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[Tipos de transacciones de inventario](
	[Id] [tinyint] NOT NULL,
	[Nombre del tipo] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[Transacciones de inventario]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[Transacciones de inventario](
	[Id de transacción] [int] NOT NULL,
	[Tipo de transacción] [tinyint] NOT NULL,
	[Fecha de creación de la transacción] [datetime] NULL,
	[Fecha modificada de la transacción] [datetime] NULL,
	[Id de producto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Id de pedido de compra] [int] NULL,
	[Id de pedido de cliente] [int] NULL,
	[Comentarios] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Detalles de pedidos de compra]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Detalles de pedidos de compra](
	[Id] [int] NOT NULL,
	[Id de pedido de compra] [int] NOT NULL,
	[Id de producto] [int] NULL,
	[Cantidad] [decimal](18, 4) NOT NULL,
	[Costo unitario] [money] NOT NULL,
	[Fecha de recepción] [datetime] NULL,
	[Publicado en el inventario] [bit] NOT NULL,
	[Id de inventario] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Estado de pedidos de compra]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Estado de pedidos de compra](
	[Id de situación] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Pedidos de compra]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Pedidos de compra](
	[Id de pedido de compra] [int] NOT NULL,
	[IdProveedor] [int] NULL,
	[Creado por] [int] NULL,
	[Fecha de envío] [datetime] NULL,
	[Fecha de creación] [datetime] NULL,
	[Id de situación] [int] NULL,
	[Fecha prevista] [datetime] NULL,
	[Gastos de envío] [money] NOT NULL,
	[Impuestos] [money] NOT NULL,
	[Fecha de pago] [datetime] NULL,
	[Importe de pago] [money] NULL,
	[Modo de pago] [nvarchar](50) NULL,
	[Notas] [nvarchar](max) NULL,
	[Aprobado por] [int] NULL,
	[Fecha de aprobación] [datetime] NULL,
	[Enviado por] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Proveedores]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Proveedores](
	[Id] [int] NOT NULL,
	[Compañía] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
	[Dirección de correo electrónico] [nvarchar](50) NULL,
	[Cargo] [nvarchar](50) NULL,
	[Teléfono del trabajo] [nvarchar](25) NULL,
	[Teléfono particular] [nvarchar](25) NULL,
	[Teléfono móvil] [nvarchar](25) NULL,
	[Número de fax] [nvarchar](25) NULL,
	[Dirección] [nvarchar](max) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[Estado o provincia] [nvarchar](50) NULL,
	[C Postal] [nvarchar](15) NULL,
	[País o región] [nvarchar](50) NULL,
	[Página Web] [nvarchar](max) NULL,
	[Notas] [nvarchar](max) NULL,
	[Datos adjuntos] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuerdas]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuerdas](
	[Id de cadena] [int] NOT NULL,
	[Datos de cadena] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Facturacion].[Estado de impuestos de pedidos]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Facturacion].[Estado de impuestos de pedidos](
	[Id] [tinyint] NOT NULL,
	[Nombre del estado de impuestos] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Facturacion].[Facturas]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Facturacion].[Facturas](
	[Id de factura] [int] NOT NULL,
	[Id de pedido] [int] NULL,
	[Fecha] [datetime] NULL,
	[Fecha de vencimiento] [datetime] NULL,
	[Impuestos] [money] NULL,
	[Envío] [money] NULL,
	[Importe debido] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Personal].[Empleados]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Personal].[Empleados](
	[Id] [int] NOT NULL,
	[Compañía] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
	[Dirección de correo electrónico] [nvarchar](50) NULL,
	[Cargo] [nvarchar](50) NULL,
	[Teléfono del trabajo] [nvarchar](25) NULL,
	[Teléfono particular] [nvarchar](25) NULL,
	[Teléfono móvil] [nvarchar](25) NULL,
	[Número de fax] [nvarchar](25) NULL,
	[Dirección] [nvarchar](max) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[Estado o provincia] [nvarchar](50) NULL,
	[C Postal] [nvarchar](15) NULL,
	[País o región] [nvarchar](50) NULL,
	[Página Web] [nvarchar](max) NULL,
	[Notas] [nvarchar](max) NULL,
	[Datos adjuntos] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Personal].[Privilegios de empleados]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Personal].[Privilegios de empleados](
	[Id de empleado] [int] NOT NULL,
	[Id de privilegio] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Sistemas].[Privilegios]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistemas].[Privilegios](
	[Id de privilegio] [int] NOT NULL,
	[Nombre del privilegio] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Transporte].[Transportistas]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transporte].[Transportistas](
	[Id] [int] NOT NULL,
	[Compañía] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
	[Dirección de correo electrónico] [nvarchar](50) NULL,
	[Cargo] [nvarchar](50) NULL,
	[Teléfono del trabajo] [nvarchar](25) NULL,
	[Teléfono particular] [nvarchar](25) NULL,
	[Teléfono móvil] [nvarchar](25) NULL,
	[Número de fax] [nvarchar](25) NULL,
	[Dirección] [nvarchar](max) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[Estado o provincia] [nvarchar](50) NULL,
	[C Postal] [nvarchar](15) NULL,
	[País o región] [nvarchar](50) NULL,
	[Página Web] [nvarchar](max) NULL,
	[Notas] [nvarchar](max) NULL,
	[Datos adjuntos] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Clientes]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Clientes](
	[Id] [int] NOT NULL,
	[Compañía] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
	[Dirección de correo electrónico] [nvarchar](50) NULL,
	[Cargo] [nvarchar](50) NULL,
	[Teléfono del trabajo] [nvarchar](25) NULL,
	[Teléfono particular] [nvarchar](25) NULL,
	[Teléfono móvil] [nvarchar](25) NULL,
	[Número de fax] [nvarchar](25) NULL,
	[Dirección] [nvarchar](max) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[Estado o provincia] [nvarchar](50) NULL,
	[C Postal] [nvarchar](15) NULL,
	[País o región] [nvarchar](50) NULL,
	[Página Web] [nvarchar](max) NULL,
	[Notas] [nvarchar](max) NULL,
	[Datos adjuntos] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Detalles de pedido]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Detalles de pedido](
	[Id] [int] NOT NULL,
	[Id de pedido] [int] NOT NULL,
	[Id de producto] [int] NULL,
	[Cantidad] [decimal](18, 4) NOT NULL,
	[Precio] [money] NULL,
	[Descuento] [float] NOT NULL,
	[Id de situación] [int] NULL,
	[Fecha de asignación] [datetime] NULL,
	[Id de pedido de compra] [int] NULL,
	[Id de inventario] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Estado de detalles de pedidos]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Estado de detalles de pedidos](
	[Id de situación] [int] NOT NULL,
	[Nombre del estado] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Estado de pedidos]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Estado de pedidos](
	[Id de situación] [tinyint] NOT NULL,
	[Nombre del estado] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Informes de ventas]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Informes de ventas](
	[Agrupar por] [nvarchar](50) NOT NULL,
	[Mostrar] [nvarchar](50) NULL,
	[Título] [nvarchar](50) NULL,
	[Origen de fila de filtro] [nvarchar](max) NULL,
	[Predeterminado] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Pedidos]    Script Date: 21/03/2020 11:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Pedidos](
	[Id de pedido] [int] NOT NULL,
	[Id de empleado] [int] NULL,
	[Id de cliente] [int] NULL,
	[Fecha de pedido] [datetime] NULL,
	[Fecha de envío] [datetime] NULL,
	[Id de transportista] [int] NULL,
	[Nombre de envío] [nvarchar](50) NULL,
	[Dirección de envío] [nvarchar](max) NULL,
	[Ciudad dest] [nvarchar](50) NULL,
	[Edo/Prov dest] [nvarchar](50) NULL,
	[Código postal de envío] [nvarchar](50) NULL,
	[País o región de envío] [nvarchar](50) NULL,
	[Gastos de envío] [money] NULL,
	[Impuestos] [money] NULL,
	[Tipo de pago] [nvarchar](50) NULL,
	[Fecha de pago] [datetime] NULL,
	[Notas] [nvarchar](max) NULL,
	[Tipo impositivo] [float] NULL,
	[Estado de impuestos] [tinyint] NULL,
	[Id de situación] [tinyint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [Almacen].[Productos] ([Id de proveedores], [Id], [Código de producto], [Nombre del producto], [Descripción], [Costo estándar], [Precio listado], [Punto de pedido], [Nivel objetivo], [Cantidad por unidad], [Suspendido], [Cantidad mínima de reposición], [Categoría], [Datos adjuntos]) VALUES (N'4', 1, N'NWTB-1', N'Té Chai Northwind Traders', NULL, 13.5000, 18.0000, 10, 40, N'10 cajas x 20 bolsas', 0, 10, N'Bebidas', NULL)
INSERT [Almacen].[Productos] ([Id de proveedores], [Id], [Código de producto], [Nombre del producto], [Descripción], [Costo estándar], [Precio listado], [Punto de pedido], [Nivel objetivo], [Cantidad por unidad], [Suspendido], [Cantidad mínima de reposición], [Categoría], [Datos adjuntos]) VALUES (N'10', 3, N'NWTCO-3', N'Almíbar Northwind Traders', NULL, 7.5000, 10.0000, 25, 100, N'12 botellas de 550 ml', 0, 25, N'Condimentos', NULL)
INSERT [Almacen].[Productos] ([Id de proveedores], [Id], [Código de producto], [Nombre del producto], [Descripción], [Costo estándar], [Precio listado], [Punto de pedido], [Nivel objetivo], [Cantidad por unidad], [Suspendido], [Cantidad mínima de reposición], [Categoría], [Datos adjuntos]) VALUES (N'10', 4, N'NWTCO-4', N'Condimentos de Louisiana Northwind Traders', NULL, 16.5000, 22.0000, 10, 40, N'48 botes de 180 g', 0, 10, N'Condimentos', NULL)
INSERT [Almacen].[Tipos de transacciones de inventario] ([Id], [Nombre del tipo]) VALUES (1, N'Comprado')
INSERT [Almacen].[Tipos de transacciones de inventario] ([Id], [Nombre del tipo]) VALUES (2, N'Vendido')
INSERT [Almacen].[Tipos de transacciones de inventario] ([Id], [Nombre del tipo]) VALUES (3, N'Retenido')
INSERT [Almacen].[Transacciones de inventario] ([Id de transacción], [Tipo de transacción], [Fecha de creación de la transacción], [Fecha modificada de la transacción], [Id de producto], [Cantidad], [Id de pedido de compra], [Id de pedido de cliente], [Comentarios]) VALUES (35, 1, CAST(N'2006-03-22T16:02:28.000' AS DateTime), CAST(N'2006-03-22T16:02:28.000' AS DateTime), 80, 75, NULL, NULL, NULL)
INSERT [Almacen].[Transacciones de inventario] ([Id de transacción], [Tipo de transacción], [Fecha de creación de la transacción], [Fecha modificada de la transacción], [Id de producto], [Cantidad], [Id de pedido de compra], [Id de pedido de cliente], [Comentarios]) VALUES (36, 1, CAST(N'2006-03-22T16:02:48.000' AS DateTime), CAST(N'2006-03-22T16:02:48.000' AS DateTime), 72, 40, NULL, NULL, NULL)
INSERT [Almacen].[Transacciones de inventario] ([Id de transacción], [Tipo de transacción], [Fecha de creación de la transacción], [Fecha modificada de la transacción], [Id de producto], [Cantidad], [Id de pedido de compra], [Id de pedido de cliente], [Comentarios]) VALUES (37, 1, CAST(N'2006-03-22T16:03:04.000' AS DateTime), CAST(N'2006-03-22T16:03:04.000' AS DateTime), 52, 100, NULL, NULL, NULL)
GO
INSERT [Compras].[Detalles de pedidos de compra] ([Id], [Id de pedido de compra], [Id de producto], [Cantidad], [Costo unitario], [Fecha de recepción], [Publicado en el inventario], [Id de inventario]) VALUES (238, 90, 1, CAST(40.0000 AS Decimal(18, 4)), 14.0000, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 1, 59)
INSERT [Compras].[Detalles de pedidos de compra] ([Id], [Id de pedido de compra], [Id de producto], [Cantidad], [Costo unitario], [Fecha de recepción], [Publicado en el inventario], [Id de inventario]) VALUES (239, 91, 3, CAST(100.0000 AS Decimal(18, 4)), 8.0000, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 1, 54)
INSERT [Compras].[Detalles de pedidos de compra] ([Id], [Id de pedido de compra], [Id de producto], [Cantidad], [Costo unitario], [Fecha de recepción], [Publicado en el inventario], [Id de inventario]) VALUES (240, 91, 4, CAST(40.0000 AS Decimal(18, 4)), 16.0000, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 1, 55)
INSERT [Compras].[Estado de pedidos de compra] ([Id de situación], [Estado]) VALUES (0, N'Nuevo')
INSERT [Compras].[Estado de pedidos de compra] ([Id de situación], [Estado]) VALUES (1, N'Enviado')
INSERT [Compras].[Estado de pedidos de compra] ([Id de situación], [Estado]) VALUES (2, N'Aprobado')
INSERT [Compras].[Pedidos de compra] ([Id de pedido de compra], [IdProveedor], [Creado por], [Fecha de envío], [Fecha de creación], [Id de situación], [Fecha prevista], [Gastos de envío], [Impuestos], [Fecha de pago], [Importe de pago], [Modo de pago], [Notas], [Aprobado por], [Fecha de aprobación], [Enviado por]) VALUES (90, 1, 2, CAST(N'2006-01-14T00:00:00.000' AS DateTime), CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2, NULL, 0.0000, 0.0000, NULL, 0.0000, NULL, NULL, 2, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2)
INSERT [Compras].[Pedidos de compra] ([Id de pedido de compra], [IdProveedor], [Creado por], [Fecha de envío], [Fecha de creación], [Id de situación], [Fecha prevista], [Gastos de envío], [Impuestos], [Fecha de pago], [Importe de pago], [Modo de pago], [Notas], [Aprobado por], [Fecha de aprobación], [Enviado por]) VALUES (91, 3, 2, CAST(N'2006-01-14T00:00:00.000' AS DateTime), CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2, NULL, 0.0000, 0.0000, NULL, 0.0000, NULL, NULL, 2, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2)
INSERT [Compras].[Pedidos de compra] ([Id de pedido de compra], [IdProveedor], [Creado por], [Fecha de envío], [Fecha de creación], [Id de situación], [Fecha prevista], [Gastos de envío], [Impuestos], [Fecha de pago], [Importe de pago], [Modo de pago], [Notas], [Aprobado por], [Fecha de aprobación], [Enviado por]) VALUES (92, 2, 2, CAST(N'2006-01-14T00:00:00.000' AS DateTime), CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2, NULL, 0.0000, 0.0000, NULL, 0.0000, NULL, NULL, 2, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2)
INSERT [Compras].[Proveedores] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (1, N'Proveedor A', N'García', N'Miguel A.', NULL, N'Jefe de ventas', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [Compras].[Proveedores] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (2, N'Proveedor B', N'Cornejo', N'Cecilia', NULL, N'Jefe de ventas', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [Compras].[Proveedores] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (3, N'Proveedor C', N'González', N'Nuria', NULL, N'Representante de ventas', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Cuerdas] ([Id de cadena], [Datos de cadena]) VALUES (2, N'Northwind Traders')
INSERT [dbo].[Cuerdas] ([Id de cadena], [Datos de cadena]) VALUES (3, N'No se puede quitar el inventario publicado.')
INSERT [dbo].[Cuerdas] ([Id de cadena], [Datos de cadena]) VALUES (4, N'Producto en lista de espera servido para el pedido nº |')
INSERT [Facturacion].[Estado de impuestos de pedidos] ([Id], [Nombre del estado de impuestos]) VALUES (0, N'Exento de impuestos')
INSERT [Facturacion].[Estado de impuestos de pedidos] ([Id], [Nombre del estado de impuestos]) VALUES (1, N'Sujeto a impuestos')
INSERT [Facturacion].[Facturas] ([Id de factura], [Id de pedido], [Fecha], [Fecha de vencimiento], [Impuestos], [Envío], [Importe debido]) VALUES (5, 31, CAST(N'2006-03-22T16:08:59.000' AS DateTime), NULL, 0.0000, 0.0000, 0.0000)
INSERT [Facturacion].[Facturas] ([Id de factura], [Id de pedido], [Fecha], [Fecha de vencimiento], [Impuestos], [Envío], [Importe debido]) VALUES (6, 32, CAST(N'2006-03-22T16:10:27.000' AS DateTime), NULL, 0.0000, 0.0000, 0.0000)
INSERT [Facturacion].[Facturas] ([Id de factura], [Id de pedido], [Fecha], [Fecha de vencimiento], [Impuestos], [Envío], [Importe debido]) VALUES (7, 40, CAST(N'2006-03-24T10:41:41.000' AS DateTime), NULL, 0.0000, 0.0000, 0.0000)
INSERT [Personal].[Empleados] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (1, N'Northwind Traders', N'González', N'María', N'nancy@northwindtraders.com', N'Representante de ventas', N'987 654 321', N'987 654 321', NULL, N'987 654 321', N'Avenida Primera, 123', N'Seattle', N'Madrid', N'99999', N'España', N'#http://northwindtraders.com#', NULL, NULL)
INSERT [Personal].[Privilegios de empleados] ([Id de empleado], [Id de privilegio]) VALUES (2, 2)
INSERT [Sistemas].[Privilegios] ([Id de privilegio], [Nombre del privilegio]) VALUES (2, N'Aprobaciones de compras')
INSERT [Transporte].[Transportistas] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (1, N'Compañía de transportes A', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Calle Principal, 123', N'Memphis', N'TN', N'99999', N'España', NULL, NULL, NULL)
INSERT [Transporte].[Transportistas] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (2, N'Compañía de transportes B', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Calle Principal, 123', N'Memphis', N'TN', N'99999', N'España', NULL, NULL, NULL)
INSERT [Transporte].[Transportistas] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (3, N'Compañía de transportes C', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Calle Principal, 123', N'Memphis', N'TN', N'99999', N'España', NULL, NULL, NULL)
INSERT [Ventas].[Clientes] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (1, N'Compañía A', N'Benito', N'Almudena', NULL, N'Propietario', N'987 654 321', NULL, NULL, N'987 654 321', N'Calle Primera, 123', N'Seattle', N'Madrid', N'99999', N'España', NULL, NULL, NULL)
INSERT [Ventas].[Clientes] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (2, N'Compañía B', N'Bermejo', N'Antonio', NULL, N'Propietario', N'987 654 321', NULL, NULL, N'987 654 321', N'Calle Segunda, 123', N'Boston', N'MA', N'99999', N'España', NULL, NULL, NULL)
INSERT [Ventas].[Clientes] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (3, N'Compañía C', N'López', N'Arturo', NULL, N'Representante de compras', N'987 654 321', NULL, NULL, N'987 654 321', N'Calle Tercera, 123', N'Los Ángeles', N'CA', N'99999', N'España', NULL, NULL, NULL)
INSERT [Ventas].[Detalles de pedido] ([Id], [Id de pedido], [Id de producto], [Cantidad], [Precio], [Descuento], [Id de situación], [Fecha de asignación], [Id de pedido de compra], [Id de inventario]) VALUES (27, 30, 34, CAST(100.0000 AS Decimal(18, 4)), 14.0000, 0, 2, NULL, 96, 83)
INSERT [Ventas].[Detalles de pedido] ([Id], [Id de pedido], [Id de producto], [Cantidad], [Precio], [Descuento], [Id de situación], [Fecha de asignación], [Id de pedido de compra], [Id de inventario]) VALUES (28, 30, 80, CAST(30.0000 AS Decimal(18, 4)), 3.5000, 0, 2, NULL, NULL, 63)
INSERT [Ventas].[Detalles de pedido] ([Id], [Id de pedido], [Id de producto], [Cantidad], [Precio], [Descuento], [Id de situación], [Fecha de asignación], [Id de pedido de compra], [Id de inventario]) VALUES (29, 31, 7, CAST(10.0000 AS Decimal(18, 4)), 30.0000, 0, 2, NULL, NULL, 64)
INSERT [Ventas].[Estado de detalles de pedidos] ([Id de situación], [Nombre del estado]) VALUES (0, N'Ninguno')
INSERT [Ventas].[Estado de detalles de pedidos] ([Id de situación], [Nombre del estado]) VALUES (1, N'Asignado')
INSERT [Ventas].[Estado de detalles de pedidos] ([Id de situación], [Nombre del estado]) VALUES (2, N'Facturado')
INSERT [Ventas].[Estado de pedidos] ([Id de situación], [Nombre del estado]) VALUES (0, N'Nuevo')
INSERT [Ventas].[Estado de pedidos] ([Id de situación], [Nombre del estado]) VALUES (1, N'Facturado')
INSERT [Ventas].[Estado de pedidos] ([Id de situación], [Nombre del estado]) VALUES (2, N'Enviado')
INSERT [Ventas].[Informes de ventas] ([Agrupar por], [Mostrar], [Título], [Origen de fila de filtro], [Predeterminado]) VALUES (N'Categoría', N'Categoría', N'Ventas por categoría', N'SELECT DISTINCT [Categoría] FROM [Productos] ORDER BY [Categoría];', 0)
INSERT [Ventas].[Informes de ventas] ([Agrupar por], [Mostrar], [Título], [Origen de fila de filtro], [Predeterminado]) VALUES (N'Id de cliente', N'Cliente', N'Ventas por cliente', N'SELECT DISTINCT [Compañía] FROM [Clientes ampliados] ORDER BY [Compañía];', 0)
INSERT [Ventas].[Informes de ventas] ([Agrupar por], [Mostrar], [Título], [Origen de fila de filtro], [Predeterminado]) VALUES (N'Id de empleado', N'Empleado', N'Ventas por empleado', N'SELECT DISTINCT [Nombre del empleado] FROM [Empleados ampliados] ORDER BY [Nombre del empleado];', 0)
USE [master]
GO
